= link_to edit_backoffice_book_path(book), remote: true do
  .col-md-3[book]
    .profile-nav.alt
      %section.panel.text-center
        .user-heading.alt.wdgt-row.terques-bg
          %i.fa.fa-user
        .panel-body
          .wdgt-value
            %h1= book.name
