.row
  .col-md-12
    %section.panel
      .panel-body.profile-information
        .col-md-3
          .profile-pic.text-center
            %img{:alt => "", :src => current_user.avatar(256)}/
        .col-md-6
          .profile-desk
            %h1= current_user.name
            %span.text-muted Usuário Premium
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor vestibulum imperdiet. Ut auctor accumsan erat, a vulputate metus tristique non. Aliquam aliquam vel orci quis sagittis.
            %a.btn.btn-primary{:href => root_path} Ir Para Painel
        .col-md-3
          .profile-statistics
            %h1 $5,61,240
            %p Saldo
            %h1 1240
            %p Saúde Financeira
  .col-md-12
    %section.panel
      %header.panel-heading.tab-bg-dark-navy-blue
        %ul.nav.nav-tabs.nav-justified
          %li.active
            %a{"data-toggle" => "tab", :href => "#books"}
              Livros
          %li
            %a{"data-toggle" => "tab", :href => "#settings"}
              Configurações
          %li
            %a{"data-toggle" => "tab", :href => "#membership"}
              Plano e Pagamento
      .panel-body
        .tab-content.tasi-tab
          #books.tab-pane.active
            = render 'backoffice/settings/shared/books', books: current_user.books
          #settings.tab-pane
            = render 'backoffice/settings/shared/settings'
          #membership.tab-pane
            = render 'backoffice/settings/shared/membership'
