- content_for :header do
  Editando <%= singular_table_name %>

= render 'backoffice/<%= plural_table_name %>/shared/form'

%hr

= link_to fa_icon('arrow-left', class: 'text-default', text: 'Voltar'), backoffice_<%= index_helper %>_path
|
= link_to fa_icon('eye', class: 'text-info', text: 'Visualizar'), [:backoffice, @<%= singular_table_name %>]
|
= link_to fa_icon('trash', class: 'text-danger', text: 'Apagar'), [:backoffice, @<%= singular_table_name %>], method: :delete, data: { confirm: 'Tem certeza?' }