.wallpaper-jumbotron {
  color: #FFFFFF;
  background-image: image-url("maintenance.png");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  padding: 20px;
}

canvas {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
}

.green-bg {
  background-color: #27ae60;
}

.grey-bg {
  background-color: #d4d4d4;
}

.profile-nav .panel-body {
  background-color: #f9f9f9;  
  border-radius: 0px 0px 10px 10px;
}

.colored-box {
  float: left;
  width: 20px;
  height: 20px;
  //margin: 1px;
  border: 1px solid rgba(0, 0, 0, .2);  
}

.dropdown-menu-icons {
  width: 240px!important;
}

.pick-icon {
  margin-bottom: 5px;
}

label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}