.form-signin h2.form-signin-heading {
  background: #f39c12 !important;;
  border-bottom: 10px solid #f1c40f !important;
}

.login-body {
  background: #d35400!important;
}

.yellow-bg {
  background: #d35400 !important;
  color: black!important;
}

.event-calendar {
  background: #d35400 !important;
}

.event-list li, .cal-day, .event-close {
  color: black!important;
}

.today .day-contents, .calendar-block .day-contents:hover {
  background: #d35400 !important;
  color: black!important;
}

.event-list li {
  background: rgba(255,255,255,.9)!important;
}