- content_for :header do
  Listando contas

= render(                                         |
  partial: 'backoffice/accounts/shared/accounts', |
  locals: { accounts: @accounts }                 |
)                                                 |